# ------------------------------ #
# -----------General------------ #
# ------------------------------ #

# OS
# Ref: https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/Windows.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/Linux.gitignore
.DS_Store
Thumbs.db
*.sh
*.bat

# Editors
# Ref: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/SublimeText.gitignore
.history
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Dependencies
vendor/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# C extensions
*.so

# Translations
*.mo
*.pot

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
# .python-version

# pipenv
# According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
# However, in case of collaboration, if having platform-specific dependencies or dependencies
# having no cross-platform support, pipenv may install dependencies that don't work, or not
# install all needed dependencies.
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PyBuilder
target/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Rope project settings
.ropeproject

# ------------------------------ #
# ------------Django------------ #
# ------------------------------ #

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# ------------------------------ #
# ------------Flask------------- #
# ------------------------------ #

# Flask
instance/
.webassets-cache

# ------------------------------ #
# -----------Scrapy------------- #
# ------------------------------ #

# Scrapy
.scrapy

# ------------------------------ #
# -----------Sphinx------------- #
# ------------------------------ #

# Sphinx documentation
docs/_build/

# ------------------------------ #
# ----------Jupyter------------- #
# ------------------------------ #

# Jupyter Notebook
.ipynb_checkpoints

# ------------------------------ #
# ----------IPython------------- #
# ------------------------------ #

# IPython
profile_default/
ipython_config.py

# ------------------------------ #
# -----------Celery------------- #
# ------------------------------ #

# Celery
celerybeat-schedule
celerybeat.pid

# ------------------------------ #
# ----------SageMath------------ #
# ------------------------------ #

# SageMath parsed files
*.sage.py

# ------------------------------ #
# -----------Spyder------------- #
# ------------------------------ #

# Spyder project settings
.spyderproject
.spyproject

# ------------------------------ #
# -----------mkdocs------------- #
# ------------------------------ #

# mkdocs documentation
/site
